/* Full-screen home page */
.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Fading background images */
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/photos/111323PvC-66.jpg') center/cover no-repeat;
    animation: fade 20s infinite;
    z-index: -1;
  }
  
  /* Overlay to darken background */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  /* Centered content */
  .content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
    font-style: italic;
  }
  
  /* Keyframes for fading background images */
  @keyframes fade {
    20% { background-image: url('../assets/photos/12123PvMICDS-34.jpg'); }
    40% { background-image: url('../assets/photos/22424_DistrictChamps-69.jpg'); }
    60% { background-image: url('../assets/photos/82024_PvJ-15.jpg'); }
    80% { background-image: url('../assets/photos/91424_PvLUSO-02.jpg'); }
  }
  